<tr>
    <td class="title">{{title}}</td>
    <td class="number-container">
        <div>
          <input type="number" min="{{min}}" max="{{max}}" />{{unit}}
          <span class="description xsmall">{{{description}}}</span>
        </div>
    </td>
</tr>
